
.ul {
	list-style: none;
}

.links {
	background-color: #000000;
	color: #ffffff;
	display: inline-block;
	height: calc(100px - 40px);
	line-height: calc(100px - 80px);
	padding: 20px 20px;
	text-align: center;
	text-decoration: none;
	transition: all 300ms ease;
	width: calc(100px - 40px);
	/* Establecemos una transición a todas las propiedades */
}

.links:hover {
	background-color: rgba(0, 0, 0, 0.6); /* Cambiamos el fondo cuando se hace hover */
	padding: 20px 60px; /* Hacemos mas grande el espacio cuando se hace hover */
}

/* Establecemos los colores de cada red social, aprovechando su clase */
.fa-google-pay {
	background-color: #404040;
} 

.fa-google-wallet {
	background-color: #808080;
}

.fa--google {
	background-color: #000000;
}

/* .fa-google {
	background-color: #808080;
} */

.fa-envelope {
	background-color: #404040;
}